.service
  = brief(service)
  == (used by #{pluralize(service.dependents.size, 'service')}, #{pluralize(service.apps.size, 'app')},

  - unless service.description.blank?
    .description= service.description

  - unless service.leaf?
    .depends_on
      \->   
      = list(service.depends_on)
