.service
  = brief(service)
  == (used by #{pluralize(service.dependents.size, 'service')}, #{pluralize(service.apps.size, 'app')},
  - if service.hosts.blank?
    deployed to no hosts)
  -else
    == on #{pluralize(service.hosts.size, 'host')}: #{list(service.hosts)})

  - unless service.description.blank?
    .description= service.description

  - unless service.depends_on.blank?
    .depends_on
      \->   
      = list(service.depends_on)
