%h1 Service details

%div
  %span== Name: #{brief(@service)}
  - unless @service.description.blank?
    .description= @service.description

.hosts
  - if @service.hosts.blank?
    %h3 This service is not deployed to any hosts.
  - else
    %h3== This service is deployed on these hosts: #{list(@service.hosts)}

.instances
  - if @service.instances.blank?
    %h3 This service is not a requirement for any instances.
  - else
    %h3== Instances which require this service: #{list(@service.instances)}

.dependents
  - if @service.dependents.blank?
    %h3 No services depend on this service
  - else
    %h3== Services which depend on this service: #{list(@service.dependents)}

.depends_on
  - if @service.depends_on.blank?
    %h3 This service depends on no other services
  - else
    %h3== This service depends on these other services: #{list(@service.depends_on)}
