%h1 Service details

%div
  %span== Name: #{brief(@service)}
  - unless @service.description.blank?
    .description= @service.description

- if @service.safe_to_delete?
  %h4= link_to 'delete this service', service_path(@service), :method => 'delete', :confirm => "Are you sure you wish to delete the service '#{@service.name}'?"

.hosts
  - if @service.hosts.blank?
    %h3 This service is not deployed to any hosts.
  - else
    %h3== This service is deployed on these hosts: #{list(@service.hosts)}

.instances
  - if @service.instances.blank?
    %h3 This service is not a requirement for any instances.
  - else
    %h3== Instances which require this service: #{list(@service.instances)}

.dependents
  - if @service.root?
    %h3 No services depend on this service
  - else
    %h3== Services which depend on this service: #{list(@service.dependents)}

.depends_on
  - if @service.leaf?
    %h3 This service depends on no other services
  - else
    %h3== This service depends on these other services: #{list(@service.depends_on)}
    %h4 Dependency tree:
    %ul
      - @service.depends_on.each do |kid|
        %li== [#{link_to 'x', edge_path(@service.edge_to(kid)), :method => 'delete' }] #{brief(kid)}
        = display_tree(kid.depends_on_tree)

#unrelated_services
  %h2 Unrelated Services
  %ul
    - @service.unrelated.each do |unrelated|
      %li== #{link_to '[+]', edges_path(:edge => { :source_id => @service, :target_id => unrelated }), :method => 'post'} #{summarize(unrelated)}