= javascript_include_tag 'instance'
.form
  - semantic_form_for [@app, @instance].compact do |form|
    - form.inputs do
      = form.input :name
      = form.input :description, :input_html => { :class => 'inline' }
      .instance_parameters
        - needed = @instance.needed_parameters
        - unless needed.blank?
          %label Required parameters
          %br
          %ul
            - updated = needed.inject(@instance.parameters || {}) {|h,p| h[p] ||= nil; h }
            - needed.sort.each do |required|        
              = render :partial => 'parameter_input', :object => [ required, updated[required] ]
          %br
        - unknown = @instance.unknown_parameters
        - unless unknown.blank?
          %label Non-required parameters
          %br
          %ul
            - unknown.keys.sort.each do |key|
              = render :partial => 'parameter_input', :object => [ key, unknown[key] ]            
        %ul#parameters
        = link_to_function('Add a non-required parameter', :id => 'add_parameter_link') { |page|  page.insert_html :bottom, 'parameters', :partial => 'parameter_input', :object => [] }
        %br
        %br
      
    = form.buttons