.instance
  == #{brief(instance.customer)} -> #{brief(instance.app)} -> #{brief(instance)}
  - unless instance.description.blank?
    .description= instance.description
  - if instance.hosts
    %ul
      %li== deployed to: #{list(instance.hosts)}
