%h3== Deploying Instance #{brief(@instance)}
- semantic_form_for @instance, :url => deploy_instance_path(@instance), :html => {:method => 'post', :id => 'new_deployment'} do |f|
  %dl
    %dt Snapshot:
    %dd= select_tag 'deployable[deployable_id]', options_for_deployables(@deployables)
    %dt Host:
    %dd= select_tag 'deployment[host_id]', options_for_select(@hosts.collect {|h| [h.name, h.id] })
    %dt Reason:
    %dd= text_field_tag 'deployment[reason]', "Reason"
    %dt== Start Time (#{Time.zone.name}):
    %dd= text_field_tag 'deployment[start_time]', Time.now.to_s(:db), :class => 'datetime', :id => 'start_time_chooser'
    %dt#optional_end_time
      %a#specify_end_time{:href => '#'} specify an optional end time for this deployment
    %dt#end_time_label{:style => 'display:none'} End Time:
    %dd#end_time_region{:style => 'display:none'}= text_field_tag 'deployment[end_time]', '', :class => 'datetime', :id => 'end_time_chooser'
    %dt &nbsp;
    %dd= f.submit 'Deploy'
