%h1 Instance details

%div
  %span== #{brief(@instance.app.customer)} -> #{brief(@instance.app)} -> #{brief(@instance)}
  - unless @instance.description.blank?
    .description= @instance.description

- if @instance.safe_to_delete?
  %h4= link_to 'delete this instance', instance_path(@instance), :method => 'delete', :confirm => "Are you sure you wish to delete the instance '#{@instance.name}'?"

.hosts
  - if @instance.host.blank?
    %h3 This instance is not currently deployed.
  - else
    %h3== This instance is deployed on host: #{list(@instance.host)}

.depends_on
  - if @instance.services.blank?
    %h3 This instance requires no services.
  - else
    %h3== This instance requires these services: #{list(@instance.services)}
    %h4 Service dependency tree:
    %ul
      - @instance.services.each do |service|
        %li== #{link_to '[x]', requirement_path(@instance.requirement_for(service)), :method => 'delete'} #{brief(service)}
        - unless service.leaf?
          %ul
            - service.depends_on.each do |kid|
              %li= brief(kid)
              = display_tree(kid.depends_on_tree)

#unrelated_services
  %h2 Unrelated Services
  %ul
  - @instance.unrelated_services.each do |unrelated|
    %li== #{link_to '[+]', requirements_path(:requirement => { :instance_id => @instance, :service_id => unrelated }), :method => 'post'} #{summarize(unrelated)}