%h1 Hosts

= link_to 'Add new host', new_host_path

- if @hosts.blank?
  %h3 No hosts.
- else
  %ul
    - @hosts.each do |host|
      %li
        = link_to '[edit]', edit_host_path(host)
        - if host.safe_to_delete?
          = link_to '[delete]', host_path(host), :method => 'delete', :confirm => "Are you sure you wish to delete the host '#{host.name}'?"
        = summarize(host)