= javascript_include_tag 'customer'
.form
  - semantic_form_for @customer do |form|
    - form.inputs do
      = form.input :name
      = form.input :description, :input_html => { :class => 'inline' }
      .customer_parameters
        - parameters = (@customer.parameters || {})
        %label Parameters
        %ul#parameters
          - parameters.keys.sort.each do |key|
            = render :partial => 'parameter_input', :object => [ key, parameters[key] ]
        = link_to_function('Add a parameter', :id => 'add_parameter_link') { |page|  page.insert_html :bottom, 'parameters', :partial => 'parameter_input', :object => [] }
    = form.buttons