%h1 Customers

= link_to 'Add new customer', new_customer_path

- if @customers.blank?
  %h3 No customers.
- else
  %ul
    - @customers.each do |customer|
      %li
        = link_to '[edit]', edit_customer_path(customer)
        - if customer.safe_to_delete?
          = link_to '[delete]', customer_path(customer), :method => 'delete', :confirm => "Are you sure you wish to delete the customer '#{customer.name}'?"
        = summarize(customer)