%h1 Customer details

%div
  %span= brief(@customer)
  %span== | #{link_to 'edit this customer', edit_customer_path(@customer)}
  - if @customer.safe_to_delete?
    %span== | #{link_to 'delete this customer', customer_path(@customer), :method => 'delete', :confirm => "Are you sure you wish to delete the customer '#{@customer.name}'?"}
  - unless @customer.description.blank?
    .description= @customer.description

.parameters
  - if @customer.parameters.blank?
    %h3 This customer has no parameters set.
  - else
    %h3 The following parameters are set for this customer:
    %ul
      - @customer.parameters.keys.sort.each do |key|
        %li== "#{key}": "#{@customer.parameters[key]}"

%h4= link_to 'add a new app for this customer', new_customer_app_path(@customer)

- if @customer.apps.blank?
  %h3 No apps.
- else
  %h3== #{pluralize(@customer.apps.size, 'app')}:
  %ol
    - @customer.apps.each do |app|
      %li= summarize(app)

- if @customer.hosts.blank?
  %h3 No services deployed to hosts.
- else
  %h3== Services deployed to #{pluralize(@customer.hosts.size, 'host')}:
  %ol
    - @customer.hosts.each do |host|
      %li= summarize(host)