%h1 App details

%div
  %span Name:
  %span= @app.name
  - unless @app.description.blank?
    .description= @app.description

%div
  %span Owned by:
  %span= summarize(@app.customer)

%h2== Services deployed to #{pluralize(@app.hosts.size, 'host')}:
%ol
  - @app.hosts.each do |host|
    %li= summarize(host)