%h1 App details

%div
  %span Name:
  %span= @app.name
  - unless @app.description.blank?
    .description= @app.description

%div
  %span Owned by:
  %span= render :partial => 'customers/summary', :locals => { :customer => @app.customer }

%h2== Services deployed to #{pluralize(@app.hosts.size, 'host')}:
%ol
  - @app.hosts.each do |host|
    %li= render :partial => 'hosts/summary', :locals => { :host => host }