%h1 App details

%div
  %span== #{brief(@app.customer)} -> #{brief(@app)}
  %span== | #{link_to 'edit this app', edit_app_path(@app)}
  - if @app.safe_to_delete?
    %span== | #{link_to 'delete this app', app_path(@app), :method => 'delete', :confirm => "Are you sure you wish to delete the app '#{@app.name}'?"}
  - unless @app.description.blank?
    .description= @app.description


%h4= link_to 'add a new instance for this app', new_app_instance_path(@app)


- if @app.instances.blank?
  %h3 No instances for this app.
- else
  %h3== App instances:
  %ul
    - @app.instances.each do |instance|
      %li= summarize(instance)

- if @app.hosts.blank?
  %h3 No app-related services deployed to hosts.
- else
  %h3== App-related services deployed to #{pluralize(@app.hosts.size, 'host')}:
  %ol
    - @app.hosts.each do |host|
      %li= summarize(host)