%h1 App details

%div
  %span== #{brief(@app.customer)} -> #{brief(@app)}
  - unless @app.description.blank?
    .description= @app.description

- if @app.safe_to_delete?
  %h4= link_to 'delete this app', app_path(@app), :method => 'delete', :confirm => "Are you sure you wish to delete the app '#{@app.name}'?"

- if @app.instances.blank?
  %h3 No instances for this app.
- else
  %h3== App instances:
  %ul
    - @app.instances.each do |instance|
      %li= summarize(instance)

- if @app.hosts.blank?
  %h3 No app-related services deployed to hosts.
- else
  %h3== App-related services deployed to #{pluralize(@app.hosts.size, 'host')}:
  %ol
    - @app.hosts.each do |host|
      %li= summarize(host)