%h1 App details

%div
  %span== #{brief(@app.customer)} -> #{brief(@app)}
  - unless @app.description.blank?
    .description= @app.description

%h2== Services deployed to #{pluralize(@app.hosts.size, 'host')}:
%ol
  - @app.hosts.each do |host|
    %li= summarize(host)