%h1 App details

%div
  %span== Name: #{brief(@app)}
  - unless @app.description.blank?
    .description= @app.description

%div
  %span== Owned by: #{brief(@app.customer)}

%h2== Services deployed to #{pluralize(@app.hosts.size, 'host')}:
%ol
  - @app.hosts.each do |host|
    %li= summarize(host)